<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega cadastrada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço: </strong> {{ address }}, Nº {{ address_number }}. Complemento: {{ complement }} <br />
  <br />
  <small>
    O produto já está disponível para retirada.
  </small>
</p>
